<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.imarce.webadmin.dao.DemoDao">
	<select id="getSkillById" resultType="com.imarce.wechat.entity.Skill">
		select * from skill where skill_id = 1
	</select>
</mapper>