<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.imarce.webadmin.dao.RegRecDao">
	<select id="selectBestStudent" parameterType="com.imarce.core.service.Page" resultType="com.imarce.wechat.vo.BestStudentVo">
		select student.head_picture,student.student_name,position.position_name,student.employed,student.salary,student.level_id,level.level_name,level.level_picture 
		 from student,position,level 
		 where student.position_id=position.position_id and student.level_id=level.level_id and student.work_state=1 
		 limit #{pageStart},#{pageNum}
	</select>
	
	
	<insert id="insertStudent" parameterType="com.imarce.wechat.entity.StudentRegister">
		insert into student_register(student_name,student_qq,student_phone,student_city) 
		values (#{studentName},#{studentQQ},#{studentPhone},#{studentCity})
	</insert>
	
	<insert id="insertRecommend" parameterType="com.imarce.wechat.entity.Recommend">
		insert into recommend(candidate_name,candidate_position,candidate_phone,recommend_name,recommend_phone) 
		values (#{candidateName},#{candidatePosition},#{candidatePhone},#{recommendName},#{recommendPhone})
	</insert>
	
	<select id="countBestStudent" resultType="int">
		SELECT COUNT(student_id) 
		FROM student  WHERE work_state=1
	</select>
	
	<select id="selectPosition" resultType="com.imarce.wechat.entity.Position">
		SELECT 
			position_id,position_name
		FROM
			position
	</select>
	
</mapper>