body{
    margin:0;
    padding:0;
    background-color:#F6F4F5;
}

/*遮罩层*/
.mask{
    position:fixed;
    min-width:100%;
    min-height:100%;
    background-color:#111113;
    opacity:0.8;
    top:0%;
    left:0%;
    z-index:8;
}
/*登录信息*/
div.login{
    position:absolute;
    width:80%;
    height:45%;
    background-color:#D7E7FF;
    left:10%;
    top:25%;
    border-radius:3%;
    z-index:10;

}
div.login p.title{
    width:80%;
    font-size:3.5em;
    font-weight:bold;
    color:#6691FF;
    margin:6% auto;
    text-align:left;
    font-family:"微软雅黑";
}
div.row{
    width:100%;
    height:8%;
    font-size:0.5em;
    margin:6% auto;
    padding:0;
}
div.row span{
    display:inline-block;
    width:20%;
    vertical-align:top;
}
div.row input{
    width:70%;
    height:120%;
    border:none;
    margin:0;
    font-size:2.5em;
}
button.btn{
    width:100%;
    height:15%;
    background-color:#4885E8;
    margin-top:8%;
    border-bottom-left-radius: 3%;
    border-bottom-right-radius:3%;
    font-size:3em;
    color:#fff;
    border:0;
}
.login b{
    display:inline-block;
    width:9%;
    height:8%;
    text-align:center;
    color:#fff;
    background-color:#6691FF;
    border-radius:50%;
    font-size:3em;
    position:absolute;
    right:3%;
    top:3%;
    padding-top:1%;
}



/*按钮*/
button#btn,#btn2{
    display:inline-block;
    width:50%;
    height:45px;
    background-color:#6CA5FF;
    font-size:2em;
    border:0;
    color:#fff;
    float:left;
    padding:0;
    position:fixed;
    top:0%;
}
button#btn{
    border-right:1px solid #578ADD;
}
button#btn2{
    right:0%;
}

/*箭头*/
b.arrow{
    display:inline-block;
    width:11%;
    height:19%;
    position:absolute;
    right:10%;
    top:40%;
    background:url("../images/arrow_01.png") no-repeat 60% 60%;
}
b.arrowToggle{
    display:inline-block;
    width:11%;
    height:19%;
    position:absolute;
    right:10%;
    top:40%;
    background:url("../images/arrow_02.png") no-repeat 60% 60%;
    /*background-image:url("images/arrow_02.png");*/
}

/*弹出框*/
div.box{
    width:100%;
    min-height:500px;
    background-color:#fff;
    margin-top:-3%;
    position:absolute;
    display:none;
    z-index:0;
}

/*候选人信息*/
div.bg{
    width:90%;
    height:60%;
    margin:0 auto;
    margin-top:18%;

}
div.bg img{
    min-width:100%;
}

/*推荐人*/
div.recommand{
    width:100%;
    height:500px;
    background-color:#fff;
    margin-top:10%;
}
div.recommand p{
    width:100%;
    height:20%;
    text-align:center;
    font-size:4em;
    color:#6CA5FF;
    padding-top:3%;
    margin:0;
    font-weight:bold;
}
div.recommand input{
    width:80%;
    height:20%;
    border:1px solid #ccc;
    font-size:3em;
    margin:2% 9%;
    padding-left:2%;
    text-align:center;
}