<div class="easyui-panel" data-options="fit:true">
     <table class="table_info" width="100%">
		<tr>
			<td width="40%" align="left">岗位：</td>
			<td width="60%">
				<input id="name" class="easyui-textbox" name="positionName" data-options="required:true" />
			</td>
		</tr>
		<tr>
			<td align="left">岗位描述:</td>
			<td>
				<input name="positionDesc" class="easyui-textbox" data-options="multiline:true" style="width:295px;height:100px"/>
			</td>
		</tr>
				
	</table>

            <p style="text-align:center">
           
              <a id="basic_btn" href="javascript:;"  onclick="add_Position()"  class="easyui-linkbutton" 
              data-options="iconCls:'icon-save'">保存信息</a>
            </p>
            <p id="basic_tip" style="text-align:center"></p>
        </div>
</div>
  
  <script>
    function add_Position(){
    	 if(document.getElementById("name").value==""){
    		 $("#basic_tip").html("<font color='red' >岗位不能为空!</font>");
    	    }
    	 else{
    		 $.ajax({
    	 
    	     url:"../add_position_basic",
    		 type:"post",
    		 dataType:"json",
    		 data:{ 
    		           "positionName":$("input[name='positionName']").val(),
    		           "positionDesc":$("input[name='positionDesc']").val()
    			  },
    	     success:function(da){
    	          $("#basic_tip").html("<font color='red'>"+da.msg+"</font>");
    	          $("#win").window("close");
    	          $.messager.alert("提示","添加成功！");
    	          $("#refresh").datagrid("reload"); 
    	          if(da.code=="10002"){
    	        	  $('#basic_btn').linkbutton('enable');
    	          }
    	     },
    	     beforeSend:function(){
    	    	 $("#basic_tip").html("<font color='red' >保存中...</font>");
    	    	 $('#basic_btn').linkbutton('disable');
    	     },
    	     error:function(){
    	    	 $("#basic_tip").html("<font color='red' >服务器忙...</font>") 
    	     }
    	});
      }
    	
    	
    }
  
  </script>